<!doctype html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="../images/courgette1.svg">

<title>A La Belle Courgette</title>



<!---Map-->
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>

 <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
   integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
   crossorigin=""></script>

<!---CDN Links-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

<!---Icons-->
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<link rel="icon" href="/favicon.ico" type="image/x-icon">


<!---My style-->
<link href="/css/style.css" rel="stylesheet" type="text/css">

<!---Map-->

<script src="website.js"></script>


</head>
<body>
<div>

<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <a class="navbar-brand"  href="/">
                        <img style="max-height: 30px;" id='logoNavBar' src="/images/courgette_logo.jpg">
                        <!--img src="" alt="logo"-->
                    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/alabellecourgette">A la Belle Courgette</a>
      <a class="nav-item nav-link" href="/paniers">Les paniers</a>
      <a class="nav-item nav-link" href="/participer">Inscription</a>
      <a class="nav-item nav-link" href="/contact">Nous trouver</a>
      <!-- <a class="nav-item nav-link" href="/qui">Qui sommes-nous?</a> -->
      <a class="nav-item nav-link" href="/onparledenous">On parle de nous!</a>
      <a class="nav-item nav-link" href="/partenaires">Les partenaires </a>
      <a class="nav-item nav-link2" <a href="https://membres.alabellecourgette.ch/login"><button class="customButton2">Page de membre</button></a></a>
    </div>
  </div>
</nav>

</div>
<br/>



</div>






      <!--Google map-->
      <div id="map" class="z-depth-1-half map-container-1" style="height: 45vh; margin-top: 5.5vh">
      </div>

      <br>

    <div class = "spacer_thin2">
      <div class="row text-center">

        <div class="col-md-4">
          <img class = 'logo_contact'src="../images/pelle_cut.png" alt="">
          <p class = "spacer_minus">
          <p class = "contact_zero"><h5 style="color: #1ECD97;">Les champs</h5></p>
          <p class = "contact_zero">Venez nous voir aux champs! </p>
          <p class = "contact_zero"><FONT size="2pt"><i>Les Sorens, 1030 Bussigny</i></FONT></p>
          <p class = "contact_zero"><FONT size="2pt"><i><a href="../documents/Plan_acces_ABC.pdf" download>Plan d'accès</a></i></FONT></p>



        </div>

        <div class="col-md-4">
          <img class = 'logo_contact'src="../images/courgette_logo.jpg" alt="">
          <p class = "spacer_minus">
          <p class = "contact_zero"><h5 style="color: #1ECD97;">Petits marchés</h5></p>
          <p class = "contact_zero">Ferme de Bussigny <FONT size="2pt"><i>Chemin de Sottelles, 1030 Bussigny</i></FONT></p>
          <p class = "contact_zero">Garages du Vallon <FONT size="2pt"><i>Rue de l’Industrie 10, 1005 Lausanne</i></FONT></p>
          <p class = "contact_zero"><FONT style="color:#1ECD9700;">m </FONT></p>

        </div>

        <div class="col-md-4">
          <img class = 'logo_contact'src="../images/courgette_logo2_NB.png" alt="">
          <p class = "spacer_minus">
          <p class = "contact_zero"><h5 style="color: #1ECD97;">Lieux de dépôt</h5></p>
          <p class = "contact_zero">Prilly <FONT size="2pt"><i>Rte. du Mont 13</i></FONT>
          <p class = "contact_zero"> Renens <FONT size="2pt"><i>Ch.des Novalles 9</i></FONT></p>
          <p class = "contact_zero"> Crissier <FONT size="2pt"><i>Ch. de la Baume 16</i></FONT></p>
          <p class = "contact_zero"> Bussigny <FONT size="2pt"><i>Rte. de l'Industrie 35</i></FONT></p>
          <p class = "contact_zero"> Epinettes <FONT size="2pt"><i>Ch. des Epinettes 20, 1007 Lausanne</i></FONT></p>
          <p class = "contact_zero">La Valencienne <FONT size="2pt"><i>Ch. des vignes d’argent, 1004 Lausanne</i></FONT></p>
          <p class = "contact_zero">Auberge de Beaulieu <FONT size="2pt"><i>Av. des Bergières 5, 1004 Lausanne</i></FONT>
          <p class = "contact_zero">Le Biotope <FONT size="2.5pt">Plaines du Loup - </FONT> <FONT size="2pt"><i>Rue Élisa-Serment 1, 1018 Lausanne</i></FONT>




        </div>
      </div>
      </div>

        <!-- <div class="col-md-4">
          <a class="btn-floating blue accent-1"><i class="fa fa-envelope fa-2x"></i></a>
          <p class = "contact">
          <p class = "contact"><a href="mailto:info@alabellecourgette.ch?subject=Contact"> info@alabellecourgette.ch</a></p>
          <p class = "contact"><i class="fa fa-facebook-square fa-2x"></i></p>
          <p class = "contact"><a href="https://www.facebook.com/AlaBelleCourgette/"> Retrouvez-nous sur Facebook!</a></p>

        </div> -->



      <br>
      <div style="text-align: center" class="spacer_paragraphe3">
        <h2 style="color: #1ECD97;"><b>Nous restons à disposition pour toute question ou remarque, n’hésitez pas !</b></h2>

      </div>

      <div class="footer">

        <div class="col-md-4">
          <FONT size="3pt">
          <p class = "contact_zero">Association A la Belle Courgette</p>
          <p class = "contact_zero">Avenue Druey 28</p>
          <p class = "contact_zero">1018 Lausanne</p>
          </FONT>
        </div>

        <div class="col-md-4">
          <FONT size="3pt">
          <p class = "contact_zero">Tél. 077 527 86 74 </p>
          <p class="contact_zero"><a style="color: white" href="mailto:info@alabellecourgette.ch?subject=Contact"> info@alabellecourgette.ch </a></p>
          <p class="contact_zero"><a style="color: white" href="https://www.facebook.com/AlaBelleCourgette/"> Facebook</a></p>
          <p class="contact_zero"><a style="color: white" href="https://www.instagram.com/a_la_belle_courgette/"> Instagram</a></p>
          </FONT>
        </div>

        <div class="col-md-4">
          <FONT size="3pt">
          <p class = "contact_zero">Iban</p>
          <p class = "contact_zero">CH50 0839 0036 1650 1000 2</p>
          </FONT>

        </div>

      </div>






<script src=/map.js></script>
</body>
</html>
