<!doctype html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="../images/courgette1.svg">

<title>A La Belle Courgette</title>

<!---CDN Links-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>




<script src="../js/parallax.js"></script>




<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!---My style-->
<link href="/css/style.css" rel="stylesheet" type="text/css">


<script src="website.js"></script>
</head>
<body>


<div>

<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <a class="navbar-brand"  href="/">
                        <img style="max-height: 30px;" id='logoNavBar' src="/images/courgette_logo.jpg">
                        <!--img src="" alt="logo"-->
                    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/alabellecourgette">A la Belle Courgette</a>
      <a class="nav-item nav-link" href="/paniers">Les paniers</a>
      <a class="nav-item nav-link" href="/participer">Inscription</a>
      <a class="nav-item nav-link" href="/contact">Nous trouver</a>
      <!-- <a class="nav-item nav-link" href="/qui">Qui sommes-nous?</a> -->
      <a class="nav-item nav-link" href="/onparledenous">On parle de nous!</a>
      <a class="nav-item nav-link" href="/partenaires">Les partenaires </a>
      <a class="nav-item nav-link2" <a href="https://membres.alabellecourgette.ch/login"><button class="customButton2">Page de membre</button></a></a>
    </div>
  </div>
</nav>

</div>
<br/>



</div>


<div class="parallax-window" data-parallax="scroll" data-image-src="../images/Ag champs.jpeg">

  <h1 class="parallax-title">On parle de nous!</h1>



</div>



<div class="container-fluid text-center">

  <br>


<div class="spacer_matin">
  <div class="row">

    <div class="col-sm-7">
        <img class = 'logo_articles'src="../images/lematin.png" alt="">
    </div>

    <div class="col-sm-4">
        <h6><a href="https://www.lematin.ch/societe/devenez-agriculteur-temps-journee/story/16641782">Lien vers l'article</a></h6>
        <h6><a href="https://www.youtube.com/watch?v=Fl6wBiw02O0">Lien vers la vidéo</a></h6>
    </div>
  </div>
</div>

<div class="spacer_24h">
  <div class="row">

    <div class="col-sm-7">
        <img class = 'logo_articles'src="../images/24heures.png" alt="">
    </div>

    <div class="col-sm-4">
        <h6><a href="https://www.24heures.ch/vaud-regions/lausanne-region/bussigny-possibilite-agriculture/story/27241442">Lien vers l'article</a></h6>
    </div>
  </div>
</div>

<div class="spacer_tetn">
  <div class="row">

    <div class="col-sm-7">
        <img class = 'logo_articles'src="../images/terrenature.png" alt="">
    </div>

    <div class="col-sm-4">
        <h6><a href="https://www.terrenature.ch/les-microfermes-se-multiplient-en-suisse-romande/">Lien vers l'article</a></h6>
    </div>
  </div>
</div>

<div class="spacer_biovision">
  <div class="row">

    <div class="col-sm-7">
        <img class = 'logo_biovision'src="../images/biovision.png" alt="">
    </div>

    <div class="col-sm-4">
        <h6><a href="https://www.biovision.ch/fr/nouvelles/les-microfermes-en-suisse-romande-utopies-ou-modeles-agricoles-davenir/">Lien vers l'article</a></h6>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
<div class="card" style="width: 20rem;">
  <img src="../images/../images/lematin.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Microfermes: utopies ou modèles agricoles d'avenir ? </h5>
    <h6 class='date'>Biovision - 25.08.2020</h6>
    <p class="card-text">Les microfermes se multiplient en Suisse romande. Ces exploitations maraîchères utilisent des méthodes inspirées de l’agroécologie et de la permaculture et proposent souvent des paniers de légumes en abonnement à des citadin.e.s de plus en plus enthousiasmés par les circuits courts et durables. Exemple d’une initiative dans le canton de Vaud.</p>
    <a href="https://www.biovision.ch/fr/nouvelles/les-microfermes-en-suisse-romande-utopies-ou-modeles-agricoles-davenir/">Lire l'article</a>
  </div>
</div>
</div>

<div class="col-sm-4">
<div class="card" style="width: 20rem;">
  <img src="../images/csm_AlaBelleCourgette2cut_d468d793ec.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Microfermes: utopies ou modèles agricoles d'avenir ? </h5>
    <h6 class='date'><i>Biovision</i> - 25.08.2020</h6>
    <p class="card-text">Les microfermes se multiplient en Suisse romande. Ces exploitations maraîchères utilisent des méthodes inspirées de l’agroécologie et de la permaculture et proposent souvent des paniers de légumes en abonnement à des citadin.e.s de plus en plus enthousiasmés par les circuits courts et durables. Exemple d’une initiative dans le canton de Vaud.</p>
    <a href="https://www.biovision.ch/fr/nouvelles/les-microfermes-en-suisse-romande-utopies-ou-modeles-agricoles-davenir/">Lire l'article</a>
  </div>
</div>
</div>

<div class="col-sm-4">
<div class="card" style="width: 20rem;">
  <img src="../images/csm_AlaBelleCourgette2cut_d468d793ec.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Microfermes: utopies ou modèles agricoles d'avenir ? </h5>
    <h6 class='date'>Biovision - 25.08.2020</h6>
    <p class="card-text">Les microfermes se multiplient en Suisse romande. Ces exploitations maraîchères utilisent des méthodes inspirées de l’agroécologie et de la permaculture et proposent souvent des paniers de légumes en abonnement à des citadin.e.s de plus en plus enthousiasmés par les circuits courts et durables. Exemple d’une initiative dans le canton de Vaud.</p>
    <a href="https://www.biovision.ch/fr/nouvelles/les-microfermes-en-suisse-romande-utopies-ou-modeles-agricoles-davenir/">Lire l'article</a>
  </div>
</div>
</div>

</div>


</div>
  <br><br>
  <div class="footer">

    <div class="col-md-4">
      <FONT size="3pt">
      <p class = "contact_zero">Association A la Belle Courgette</p>
      <p class = "contact_zero">Chemin du Chasseron 3</p>
      <p class = "contact_zero">1004 Lausanne</p>
      </FONT>
    </div>

    <div class="col-md-4">
      <FONT size="3pt">
      <p class = "contact_zero">Tél. 077 527 86 74 </p>
      <p class="contact_zero"><a style="color: white" href="mailto:info@alabellecourgette.ch?subject=Contact"> info@alabellecourgette.ch </a></p>
      <p class="contact_zero"><a style="color: white" href="https://www.facebook.com/AlaBelleCourgette/"> Facebook</a></p>
      </FONT>
    </div>

    <div class="col-md-4">
      <FONT size="3pt">
      <p class = "contact_zero">Iban</p>
      <p class = "contact_zero">CH50 0839 0036 1650 1000 2</p>
      </FONT>

    </div>

  </div>
</body>
</html>
