<!doctype html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="../images/courgette1.svg">

<title>A La Belle Courgette</title>

<!---CDN Links-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>



<script src="../js/parallax.js"></script>




<!---My style-->
<link href="/css/style.css" rel="stylesheet" type="text/css">


<script src="website.js"></script>
</head>
<body>


<div>

<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <a class="navbar-brand"  href="/">
                        <img style="max-height: 30px;" id='logoNavBar' src="/images/courgette1.svg">
                        <!--img src="" alt="logo"-->
                    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
       <a class="nav-item nav-link" href="/alabellecourgette">A la belle courgette</a>
       <a class="nav-item nav-link" href="/qui">Qui sommes-nous</a>
       <a class="nav-item nav-link" href="/paniers">Les paniers</a>
       <a class="nav-item nav-link" href="/partenaires">Les partenaires</a>
       <a class="nav-item nav-link" href="/contact">Contact</a>
       <a class="nav-item nav-link" href="/participer">Participer</a>
    </div>
  </div>
</nav>

</div>
<br/>



</div>


<div class="parallax-window" data-parallax="scroll" data-image-src="../images/panier 3.jpg">

  <h1 class="parallax-title">Les paniers</h1>


</div>

<div class="row">

  <div class="col-lg-12 col-sm-12">
    <div class="spacer">
    <p>L’association A la Belle Courgette propose des paniers de légumes de saison produit à Bussigny dans le <span style="color:#1ECD97"><b>respect de l’environnement</b></span>. Ils sont distribués chaque semaine de mi-mai à fin décembre puis toutes les deux semaines de janvier à fin avril, soit 40 fois par années. Pour recevoir les légumes, il est nécessaire de s’inscrire à un abonnement annuel et de payer la cotisation de l’association. Deux différentes tailles sont disponibles :</p>

    <ul>
      <li>Le petit panier correspond à la consommation de 2 à 3 personnes</li>
      <li>Le grand panier qui correspond à la consommation d’une famille de 4 à 5 personnes</li>
    </ul>

    </div>
  </div>

  <div class="col-lg-12 mb-4">
    <div class="spacer">
      <h1>Prix et demi-journées</h1>
      <p>Pour recevoir un panier, chaque membre s’engage pour un certain nombre de <span style="color:#1ECD97"><b>demi-journées</b></span> (aide au champs (désherbage, récolte, plantation, etc.), aide lors des livraison, aide sur le petit marché, préparation du repas de midi, préparation de la choucroute, taille des arbres, etc.). Ces moments sont l’occasion de rencontrer les jardiniers, de comprendre les enjeux du milieu agricole ou encore de participer au projet en mettant les mains à la terre !</p>


      <p>Le prix du panier est défini selon le nombre de demi-journée effectuée dans les champs. Les membres s’engagent au début de l’année pour un certain nombre de demi-journée (environ 4h de travail). Pour des raisons de planifications chaque demi-journée non-effectuée sera facturée 70 CHF. Les prix sont fixés lors de l’assemblée générale</p>


    <div class="container">
      <table class="table">
      <thead>
        <tr>
          <th>Nombre de demi-journées</th>
          <th>Prix du Petit Panier</th>
          <th>Prix du Grand Panier</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2</td>
          <td>1250</td>
          <td>1700</td>
        </tr>
        <tr>
          <td>3</td>
          <td>1200</td>
          <td>1650</td>
        </tr>
        <tr style="background-color:rgba(30,205,151,0.4);">
          <td >4</td>
          <td>1150</td>
          <td>1600</td>
        </tr>
        <tr>
          <td>5</td>
          <td>1100</td>
          <td>1550</td>
        </tr>
        <tr>
          <td>6</td>
          <td>1050</td>
          <td>1500</td>
        </tr>
      </tbody>
    </table>

    <p>N.B. La proposition la plus standard est celle à <span style="color:#1ECD97"><b>4 demi-journées</b></span> car elle nous assure un bon revenu et une aide conséquente aux champs.
</p>

    </div>



      <p>Il est toutefois évident que les aides bénévoles supplémentaires sont les bienvenues et très appréciées. Pour toutes questions liées au prix, aux demi-journées, n’hésitez pas à <a href="/contact">nous contacter</a>.</p>
      <p>De plus, chaque année, les personnes qui paient les paniers deviennent membres de l’association est doivent payer la cotisation annuelle qui s’élève en 2020 à 100 francs.</p>
</div>

    <div class="spacer">

      <h1>Distribution</h1>

      <p>Pour la distribution, deux options s’offrent à vous :</p>

      <h5>1. Le petit marché, venez vous-même remplir votre panier !</h3>




        <p>Situé à la <a href="/contact">rue de la Main 6-8</a>, derrière le petit portail vert. Chaque abonné peut venir remplir son cabas lui-même tous les mercredis entre 16h et 19h dans ce lieu merveilleux, où il est également possible de boire un verre, de discuter avec les jardiniers ou de flâner dans le potager pour cueillir des herbes aromatiques. Pas de supplément de tarif. </p>
      <h5>2. Venez chercher votre panier déjà confectionné chaque mercredi à l'un des lieux de dépôt suivants </h3>
        <ul>
          <li><a href="/contact">Colombier</a></li>
          <li><a href="/contact">Thiele</a></li>
          <li><a href="/contact">Chaux-de-Fonds</a></li>
        </ul>
      <p>Cette option ajoute 5 francs au prix de chaque paniers (soit 200 francs par année) pour couvrir les frais de confection et de livraison. Et tous les nouveaux abonnés s’engagent à amener trois cabas vides en bon état, résistant à l’eau (ceux que l’on retrouve dans les grande surfaces). L’idées est de récupérer les cabas non-utilisées qui se trouvent dans vos maisons et d’éviter à l’association de devoir en acheter des neufs. </p>

    </div>


    <div class="spacer">
      <h1>Vacances</h1>

      <p>Les abonnés qui partent en vacances et qui ne peuvent pas venir prendre leurs légumes doivent l’annoncer en avance et leurs légumes seront redistribués. Ou alors, nous distribuons avec grand plaisir les légumes à un-e ami-e ou à un-e parent-e.</p>


    </div>


    <div class="spacer">

      <h1>Contenu des paniers</h1>
      <p>En s’inscrivant aux paniers de Rage de Vert, chaque abonné loue en quelque sorte une part du jardin dans lequel sont cultivés les légumes. Et comme dans chaque jardin, la production suit le rythme des saisons. Les cabas sont de ce fait moins fournis en hiver et plus généreux en été. De plus, comme dans un jardin non traité, certains légumes peuvent avoir des imperfections : carottes fourchues, limaçons dans les salades, pucerons dans les haricots, tomates biscornues… L’explication de nos différentes démarches se retrouvent dans l’onglet <a href="/alabellecourgette">A la Belle Courgette</a>. En les lisant vous comprendrez mieux l’esprit A la Belle Courgette.</p>

      <p>Voici quelques exemples de compositions de paniers :</p>


      <ul>
        <li>Janvier : Courge, Chou frisé, Chou plume, Navet, Radis noir, Panais, Oignon</li>
        <li>Avril : Mesclun, Salade tête, Colrave, Poireaux, Epinard/bette à tondre, Oignons frais, Ail frais, Céleri, Radis, Pommes</li>
        <li>Juillet : Tomates, Aubergines, Haricots, Courgettes/pâtissons, Concombres, Carottes, Côte de bette, Poivrons, Salades</li>
        <li>Octobre : Courge, Radis Rose, Oignons, Doucette, Epinard / Bette à tondre, Céleri, Rutabaga, Scarole</li>
      </ul>
    </div>






  </div>



</div>




</body>
</html>
