<!doctype html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="../images/courgette1.svg">

<title>A La Belle Courgette</title>

<!---CDN Links-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>



<script src="../js/parallax.js"></script>




<!---My style-->
<link href="/css/style.css" rel="stylesheet" type="text/css">


<script src="website.js"></script>
</head>
<body>


<div>

<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <a class="navbar-brand"  href="/">
                        <img style="max-height: 30px;" id='logoNavBar' src="/images/courgette_logo.jpg">
                        <!--img src="" alt="logo"-->
                    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/alabellecourgette">A la Belle Courgette</a>
      <a class="nav-item nav-link" href="/paniers">Les paniers</a>
      <a class="nav-item nav-link" href="/participer">Inscription</a>
      <a class="nav-item nav-link" href="/contact">Nous trouver</a>
      <!-- <a class="nav-item nav-link" href="/qui">Qui sommes-nous?</a> -->
      <a class="nav-item nav-link" href="/onparledenous">On parle de nous!</a>
      <a class="nav-item nav-link" href="/partenaires">Les partenaires </a>
      <a class="nav-item nav-link2" <a href="https://membres.alabellecourgette.ch/login"><button class="customButton2">Page de membre</button></a></a>
    </div>
  </div>
</nav>

</div>
<br/>



</div>


<div class="parallax-window" data-parallax="scroll" data-image-src="../images/panierete3.jpg">

  <h1 class="parallax-title3">Les paniers</h1>


</div>

<div class="row">

  <div class="col-lg-12 col-sm-12">
    <div class="spacer_paragraphe2">
    <p>L’association A la Belle Courgette propose des paniers de légumes de saison produits à Bussigny dans le respect de l’environnement. Ils sont distribués dans l'ouest lausannois <span style="color:#1ECD97"><b>chaque semaine de mi-mai à fin décembre puis toutes les deux semaines de janvier à fin avril</b></span>, soit 40 fois par année. Pour recevoir les légumes, il est nécessaire de souscrire un <span style="color:#1ECD97"><b>abonnement annuel</b></span> (paiement annuel, semestriel ou trimestriel), et de payer <span style="color:#1ECD97"><b>la cotisation de l’association</b></span>. Deux différentes tailles sont disponibles :</p>

    <ul>
      <li>Le petit panier correspond à la consommation de 2 à 3 personnes, au prix de 29.- par semaine et 4 demi-journées par année</li>
      <li>Le grand panier correspond à la consommation de 4 à 5 personnes, au prix de 40.- par semaine et 4 demi-journées par année</li>
      <br>
      <div class="block" style="height:150px">

        <a href="https://membres.alabellecourgette.ch/new"><button class="customButton">Inscription</button></a>

      </div>
    </ul>

    </div>
  </div>


  <div class="col-lg-12 mb-4">
    <div class="spacer_paragraphe">
      <h1>Prix et demi-journées</h1>
      <div class="spacer_minus">
      </div>
      <p>Pour recevoir un panier, chaque membre s’engage pour un certain nombre de <span style="color:#1ECD97"><b>demi-journées</b></span> (aide aux champs (désherbage, récolte, plantation, etc.), aide lors des livraisons, aide sur le petit marché, préparation du repas de midi, préparation de la choucroute, transformation de produits etc.). Ces moments sont l’occasion de rencontrer les jardiniers, de comprendre les enjeux du milieu agricole et de participer au projet en mettant les mains à la terre !</p>


      <p>Le prix de l'abonnement annuel aux paniers est défini selon le nombre de demi-journées effectuées dans les champs. Les membres s’engagent au début de l’année pour un certain nombre de demi-journées (environ 4h de travail). Pour des raisons de planification, chaque demi-journée non-effectuée sera facturée 70 CHF. Les prix sont fixés lors de l’Assemblée générale.</p>


    <div class="container">
      <table class="table">
      <thead>
        <tr>
          <th>Nombre de demi-journées</th>
          <th>Prix du Petit Panier</th>
          <th>Prix du Grand Panier</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2</td>
          <td>1250</td>
          <td>1700</td>
        </tr>
        <tr>
          <td>3</td>
          <td>1200</td>
          <td>1650</td>
        </tr>
        <tr style="background-color:rgba(30,205,151,0.4);">
          <td >4</td>
          <td>1150</td>
          <td>1600</td>
        </tr>
        <tr>
          <td>5</td>
          <td>1100</td>
          <td>1550</td>
        </tr>
        <tr>
          <td>6</td>
          <td>1050</td>
          <td>1500</td>
        </tr>
      </tbody>
    </table>

    <p>N.B. La proposition la plus standard est celle à <span style="color:#1ECD97"><b>4 demi-journées</b></span> car elle nous assure un bon revenu et une aide conséquente aux champs.
</p>

    </div>



      <p>Il est toutefois évident que les aides bénévoles supplémentaires sont les bienvenues et très appréciées. Pour toutes questions liées au prix, aux demi-journées, n’hésitez pas à <a href="mailto:info@alabellecourgette.ch?subject=Questions">nous contacter</a>.</p>
      <p>Comme expliqué précédemment, les personnes souscrivant à un panier deviennent membres de l'association et doivent payer <span style="color:#1ECD97"><b>la cotisation annuelle</b></span> qui s'élève à 100.- CHF. </p>
      <p>Les membres composent l’Assemblée Générale de l’association qui constitue le pouvoir décisionnel suprême.  </p>
</div>


<div class="spacer">

  <h1>Contenu des paniers</h1>
  <div class="spacer_minus">
  </div>
  <p>En souscrivant à un abonnement, chaque abonné est en quelque sorte locataire d’un bout du terrain de l’association où sont cultivés les légumes. De la sorte, il recevra chaque semaine un panier composé des légumes récoltés durant la semaine. Cela induit une diversité de légumes au gré des saisons ainsi qu’une variation d’abondance. Afin de lutter contre le gaspillage alimentaire, très peu de calibrage sera effectué lors des récoltes, vos légumes pourront comporter de petites imperfections ou avoir des formes rocambolesques. </p>
  <p>Plus de <span style="color:#1ECD97"><b>cinquante légumes</b></span> différents sont cultivés sur nos parcelles, voici une petite liste non-exaustive des légumes que vous pourriez retrouver chez vous au fil des saisons, ainsi qu'une estimation des poids des paniers qui peut varier en fonction de la récolte de la semaine! :)
  </p>

</div>
<!-- <div class="col-lg-12 mb-4"> -->
  <div class="container">

    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>De janvier à avril</th>
          <th>De mai à juin</th>
          <th>De juillet à septembre</th>
          <th>D'octobre à décembre</th>
        </tr>
      </thead>

    <tbody>
      <tr>
        <th>Feuilles</th>
        <td>Epinard, mesclun, rampon, pak choï</td>
        <td>Salades, épinard, mesclun</td>
        <td>Salades, bettes, basilic, persil</td>
        <td>Salades, rampon, persil, roquette</td>
      </tr>

      <tr>
        <th>Choux</th>
        <td> Choux de Bruxelles, choux kale </td>
        <td>Choux pointu, colrave, brocolis, choux fleur</td>
        <td>Brocolis, colraves</td>
        <td>Choux blanc, rouge, fleur, chinois et choucroute</td>
      </tr>

      <tr>
        <th>Fruits</th>
        <td>Patience, on les plante :)</td>
        <td>Courgette, concombre</td>
        <td>Tomate, aubergine, poivron, piment, concombre, melon</td>
        <td>Des bocaux de temps en temps!</td>
      </tr>

      <tr>
        <th>Garde</th>
        <td>Oignon, ail, carotte, panais, betterave, céleri pomme, radis noir</td>
        <td>Les caves sont vides!</td>
        <td>Courge, oignon, ail</td>
        <td>Courge, oignon, ail, carotte, panais, betterave, céleri pomme, radis noir, rutabaga </td>
      </tr>

      <tr>
        <th>Le plus!</th>
        <td>Carotte primeur, poireau</td>
        <td>Fenouil, fèves, pois mangetout, ail et oignon frais, radis</td>
        <td>Céleris branche, haricot, borlotti </td>
        <td>Choucroute, patate douce </td>
      </tr>

      <thead>
        <tr>
          <th>Petit  <br> Grand </th>
          <th>≈ 4-5kg <br>≈ 5-6kg </th>
          <th>≈ 3-4kg <br>≈ 4-5kg</th>
          <th>≈ 6kg <br>≈ 8kg</th>
          <th>≈ 5kg <br>≈ 7kg</th>
        </tr>
      </thead>


    </tbody>

  </table>


    <div class="text-center">
      <a> Et encore tellement d'autres!</a>
    </div>
  </div>
  </div>





  <div class="col-lg-12 mb-4">
    <div class="spacer_paragraphe">

      <h1>Distribution</h1>
    <div class="spacer_minus">
    </div>
      <p>Pour la distribution, trois options s’offrent à vous :</p>

      <h5>1. Le petit marché, au Quartier du Vallon </h3>
        <p><FONT size="3pt"><i>Rue de l’Industrie 10, 1005 Lausanne</i></FONT></p>
        <p>Chaque abonné peut venir remplir son cabas lui-même tous les mercredis entre 16h et 19h. Une belle occasion de venir boire un verre et d'en profiter pour discuter avec le jardinier présent et d’échanger avec les autres membres de l’association. Cette option n’engendre pas de supplément tarifaire.</p>

        <h5>2. Le petit marché, à la ferme de Bussigny </h3>
          <p><FONT size="3pt"><i>Chemin de Sottelles, 1030 Bussigny</i></FONT></p>
          <p>Chaque abonné peut venir remplir son cabas lui-même tous les mercredis entre 16h et 19h. Venez passer à la ferme pour discuter avec le jardinier. Cette option n’engendre pas de supplément tarifaire.</p>


      <h5>3. Venez chercher votre panier déjà confectionné chaque mercredi à l'un des lieux de dépôt </h3>
        <p>Chaque abonné peut venir de façon autonome chercher son panier rempli par les jardiniers à l'un des points de livraison à Lausanne, les mercredis à partir de la fin de l'après-midi. Les paniers y sont livrés à vélo par l'association <a href="https://www.instagram.com/c_y_c_l_i_t/">Cyclit</a>.</p>
        <p>Les lieux de dépôts sont les suivants :</p>
        <div class="spacer_thin">
          <ul>
            <li>Prilly, <FONT size="3pt"><i>Rte. du Mont 13</i></FONT></li>
            <li> Renens, <FONT size="3pt"><i>Ch.des Novalles 9</i></FONT></li>
            <li> Epinettes, <FONT size="3pt"><i>Ch. des Epinettes 20, 1007 Lausanne</i></FONT></li>
            <li>La Valencienne, <FONT size="3pt"><i>Ch. des vignes d’argent, 1004 Lausanne</i></FONT></li>
            <li>Auberge de Beaulieu, <FONT size="3pt"><i>Av. des Bergières 5, 1004 Lausanne</i></FONT></li>

          </ul>
        </div>
        <p class = "spacer_minus">

        <p>Cette option ajoute 5 francs au prix de chaque panier (soit 200 francs par année) pour couvrir les frais de confection et de livraison à vélo.</p>

    </div>

    <div class="spacer_paragraphe">
      <h1>Documents importants</h1>
      <div class="spacer_minus">
      </div>

      <p>L’association est régie par deux documents fondateurs : les <a href="../documents/Statuts_ABC.pdf" download>statuts</a> et la <a href="../documents/Charte_ABC.pdf" download>charte</a>. </p>
      <p>Chaque nouveau membre de A la Belle Courgette s’engage à respecter les statuts et à œuvrer dans l’intérêt de l’association. De plus, la lecture et approbation du <a href="../documents/Règlement_ABC.pdf" download>règlement</a> de l'association est nécessaire lors d'une souscription à un abonnement de panier.</p>

    </div>

    <div class="spacer">
      <h1>Vacances</h1>
      <div class="spacer_minus">
      </div>

      <p>Les abonnés qui partent en vacances et qui ne peuvent pas venir prendre leurs légumes doivent l’annoncer à l'avance et leurs légumes seront redistribués. Ou alors, nous distribuons avec grand plaisir les légumes à un-e ami-e ou à un-e parent-e.</p>

      <br>
      <div class="block" style="height:150px">

        <a href="https://membres.alabellecourgette.ch/new"><button class="customButton">Inscription</button></a>

      </div>
    </div>


  </div>



</div>

<div class="footer">

  <div class="col-md-4">
    <FONT size="3pt">
    <p class = "contact_zero">Association A la Belle Courgette</p>
    <p class = "contact_zero">Chemin du Chasseron 3</p>
    <p class = "contact_zero">1004 Lausanne</p>
    </FONT>
  </div>

  <div class="col-md-4">
    <FONT size="3pt">
    <p class = "contact_zero">Tél. 077 527 86 74 </p>
    <p class="contact_zero"><a style="color: white" href="mailto:info@alabellecourgette.ch?subject=Contact"> info@alabellecourgette.ch </a></p>
    <p class="contact_zero"><a style="color: white" href="https://www.facebook.com/AlaBelleCourgette/"> Facebook</a></p>
    </FONT>
  </div>

  <div class="col-md-4">
    <FONT size="3pt">
    <p class = "contact_zero">Iban</p>
    <p class = "contact_zero">CH50 0839 0036 1650 1000 2</p>
    </FONT>

  </div>

</div>


</body>
</html>
