<!doctype html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="../images/courgette1.svg">

<title>A La Belle Courgette</title>

<!---CDN Links-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>




<script src="../js/parallax.js"></script>


<!---My style-->
<link href="/css/style.css" rel="stylesheet" type="text/css">


<script src="website.js"></script>
</head>
<body>


<div>

<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <a class="navbar-brand"  href="/">
                        <img style="max-height: 30px;" id='logoNavBar' src="/images/courgette_logo.jpg">
                        <!--img src="" alt="logo"-->
                    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/alabellecourgette">A la Belle Courgette</a>
      <a class="nav-item nav-link" href="/paniers">Les paniers</a>
      <!-- <a class="nav-item nav-link" href="/qui">Qui sommes-nous?</a> -->
      <a class="nav-item nav-link" href="/partenaires">Les partenaires</a>
      <a class="nav-item nav-link" href="/contact">Nous trouver</a>
      <a class="nav-item nav-link" href="/participer">Inscription</a>
      <a class="nav-item nav-link" href="https://membres.alabellecourgette.ch/login">Page de membre</a>
    </div>
  </div>
</nav>

</div>
<br/>


<!-- <div class="col-lg-12 col-sm-12"> -->



<div class="parallax-window" data-parallax="scroll" data-image-src="../images/Participer_LQ.jpg">

<h1 class="parallax-title">Participer</h1>

</div>



<div class="row">

  <div class="col-lg-9 col-sm-6">
    <div class="spacer">
      <p>Les inscriptions sont ouvertes <a href="https://membres.alabellecourgette.ch/new">dès maintenant!</a> Les premiers paniers seront livrés le <span style="color:#1ECD97"><b> 20 mai 2020.</b></span> D'ici là, nous vous tiendrons au courant de l'avancement dans les champs et de l'état des cultures. Il est également possible de rejoindre l'association sans s'abonner à un panier. Vous devenez ainsi membre de soutien et êtes invité à participer aux décisions de A la Belle Courgette.</p>
      <p>Chaque nouveau membre de A la Belle Courgette s’engage à respecter les <a href="../documents/Statuts_ABC.pdf" download>statuts</a> et à œuvrer dans l’intérêt de l’association. De plus, la lecture et approbation du <a href="../documents/Règlement_ABC.pdf" download>règlement</a> de l'association est nécessaire lors d'une souscription à un abonnement de panier.</p>

      <p>Vous pouvez également vous inscrire uniquement à la newsletter <a href="http://eepurl.com/gBuz59 ">ici</a>. </p>

    </div>
  </div>

  <div class="col-lg-1 col-sm-6">
    <div class="block" style="height:150px">

      <a href="https://membres.alabellecourgette.ch/new"><button class="customButton">Inscription</button></a>

    </div>
  </div>

</div>

<!-- <div class="spacer_custom">
  <h3>Documents importants</h3>
  <div class="spacer_minus">
  </div>

  <p>L’association est régie par deux documents fondateurs : les <a href="../documents/Status_ABC.pdf" download>statuts</a> et la <a href="../documents/Charte_ABC.pdf" download>charte</a>. </p>
  <p>Chaque nouveau membre de A la Belle Courgette s’engage à respecter les statuts et à œuvrer dans l’intérêt de l’association. De plus, la lecture et approbation du <a href="../documents/Règlement_ABC.pdf" download>règlement</a> de l'association est nécessaire lors d'une souscription à un abonnement de panier.</p>

</div> -->
<div class="footer">

  <div class="col-md-4">
    <FONT size="3pt">
    <p class = "contact_zero">Association A la Belle Courgette</p>
    <p class = "contact_zero">Chemin du Taulard 2</p>
    <p class = "contact_zero">1008 Jouxtens</p>
    </FONT>
  </div>

  <div class="col-md-4">
    <FONT size="3pt">
    <p class = "contact_zero">Tél. 077 527 86 74 </p>
    <p class="contact_zero"><a style="color: white" href="mailto:info@alabellecourgette.ch?subject=Contact"> info@alabellecourgette.ch </a></p>
    <p class="contact_zero"><a style="color: white" href="https://www.facebook.com/AlaBelleCourgette/"> Facebook</a></p>
    </FONT>
  </div>

  <div class="col-md-4">
    <FONT size="3pt">
    <p class = "contact_zero">Iban</p>
    <p class = "contact_zero">CH50 0839 0036 1650 1000 2</p>
    </FONT>

  </div>

</div>


</body>
</html>
