@import url('https://fonts.googleapis.com/css?family=Rubik:500');
@import url('https://fonts.googleapis.com/css?family=Montserrat');





body {
    background-color: white;
    width: 100%;
    font-family: Montserrat , sans-serif;
}


p {
  font-family: Montserrat, sans-serif;
  text-align:justify;
}

li {
    text-align:justify;
}

.logo {

  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  padding-top: 3%;
}


.navbar  {
  background-color: white;
}

#navbarNavAltMarkup a {
	color: #1ECD97;

}


a {
  color: #1ECD97;
}

a:hover {
  text-decoration: none;
}

.navbar-nav .nav-link {
    margin-right: 15px;
    margin-left: 15px;
}




.navbar-brand {
  min-width: 40px; // makes pseudo-responsive, adjust as desired
  position: relative;

  .brand-paths {
    fill: #1ECD97;
  }
}



.parallax-window {

    min-height: 60vh;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;

}

.parallax-title {
    color:  white;
    text-shadow:
    -1px -1px 0 #708090,
    1px -1px 0 #708090,
    -1px 1px 0 #708090,
    1px 1px 0 #708090;
    margin: 5% 0 0 0;
    font-size: 7vw;
    opacity: 0.7
}

.parallax-title2 {
    color: white;
    text-shadow:
    -1px -1px 0 #708090,
    1px -1px 0 #708090,
    -1px 1px 0 #708090,
    1px 1px 0 #708090;
    margin: 5% 0 0 0 ;
    font-size: 7vw;
    opacity: 0.8
}
/* #708090 */

.contact {
  text-align: center;
}



.row{ display: flex;
  align-items: center;}

.spacer {
    margin: 5% 15% 5% 15%;

}

.spacer_thin {
    margin: 0% 5% 0% 5%;

}

.spacer_paragraphe {
    margin: 0% 15% 5% 15%;

}

.spacer_paragraphe2 {
    margin: 5% 15% 0% 15%;

}

.spacer_minus {
    margin: 2% 15% 0% 15%;

}


#logoNavBar{
    -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;

}


#logoNavBar:hover {
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
}

.customButton {
  display: inline;
	border: 2px solid #1ECD97;
	border-radius: 10px;
	background: transparent;
	color: #1ECD97;
	letter-spacing: 0.5px;
	font-size: 18px;
  height: 50px;
	-webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
	transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
  width: 200px;
}


.customButton:hover {
	background-color: #1ECD97;
	color: #fff;
  text-decoration: none;
  cursor: pointer;
}


.block {
    padding-top: 25px;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 70vh;

}

.block img {
  height:  80%;
  margin-top: 4%;
  margin-bottom: 2%;
}


.logo_partners {
  width: 15%;
}

.logo_contact {
  width: 8%;
}


*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {

  height: 15vh;
  width: 100%;
  display: table;

}


.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

#scroll-down-button {
  text-align:center;
  color:#1ECD97;
}


.scroll-down {
  position: absolute;
  background-color: #1ECD97;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  margin-top: 5%;
  width: 32px;
  height: 32px;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  transform: scale(1)
}

.scroll-down:before {
    position: relative;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}



@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10%);
    -ms-transform: translateY(-10%);
    transform: translateY(-10%);
  }
  60% {
    -webkit-transform: translateY(-5%);
    -ms-transform: translateY(-5%);
    transform: translateY(-5%);
  }
}




#demarche {
  display: none;
  overflow: auto;
  padding-top: 11%;
}
