@import url('https://fonts.googleapis.com/css?family=Rubik:500');
@import url('https://fonts.googleapis.com/css?family=Montserrat');


@media all and (max-width: 699px) and (min-width: 520px), (min-width: 1151px) {
   body {
    background: #ccc;
  }
}


body {
    background-color: white;
    width: 100%;
    font-family: Montserrat , sans-serif;
}


p {
  font-family: Montserrat, sans-serif;
}

.logo {

  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  padding-top: 3%;
}


.navbar  {
  background-color: white;
}

#navbarNavAltMarkup a {
	color: #1ECD97;

}


a {
  color: #1ECD97;
}

a:hover {
  text-decoration: none;
}

.navbar-nav .nav-link {
    margin-right: 15px;
    margin-left: 15px;
}




.navbar-brand {
  min-width: 40px; // makes pseudo-responsive, adjust as desired
  position: relative;

  .brand-paths {
    fill: #1ECD97;
  }
}



.parallax-window {

    min-height: 400px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;

}

.parallax-title {
    color: white;
    margin: 0;
    font-size: 4vw;
}







.row{ display: flex; align-items: center;}

.spacer {
    margin: 40px 40px;
}







#logoNavBar{
    -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;

}


#logoNavBar:hover {
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
}

.customButton {
display: block;
	margin-left: 22px;
  margin-right: 22px;
  margin-top: 0;
	width: 170px;
	height: 70px;
	border: 2px solid #1ECD97;
	border-radius: 40px;
	background: transparent;
	color: #1ECD97;
	letter-spacing: 1px;
	font-size: 18px;
	-webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
	transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;



}





.customButton:hover {
	background-color: #1ECD97;
	color: #fff;
  text-decoration: none;
  cursor: pointer;
}


.block {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 70vh;
}




.logo_partners {
  width: 30%;
}
